body {
	width: 300px;
	background-color: #23252b;
	color: white;
	text-align:center;
	user-select:none;
	}
	
#version {
	color: white;
	font-weight: bold;
	position: absolute;
	top: 0%;
	left: 0%;
	padding: 1% 5% 1% 5%;
	background-color: #f47521;
	border-radius: 0 10px 10px 0;
}

#disclaimer {
	color: white;
	opacity: 0.75;
	font-size: 8px;
}

a {
	text-decoration:none;
}

#gh > a {
	opacity: 0.5;
	transition: opacity 0.2s;
}

#gh > a:hover {
	opacity: 1;
}

#gh > a:first-child {
	margin-right: 10px;
}

#gh > a:last-child {
	margin-left: 10px;
}

a > svg > path {
	fill: white;
	transition: fill 0.2s ease-in 3s;
}

#cr a:hover > svg > path {
	transition-delay: 0s;
	fill: #f47521;
}
#gh > a > svg > path {
	transition: fill 0.2s;
}
#gh > a:hover:last-child > svg > path {
	fill: #b83f3f
;
}

#dice {
	width:20%;
	margin-top: 5%;
	transition: all 0.2s;
	}
#dice:hover {
	scale:1.1;
	}